.category-thumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 200px 0 168px 0;
}
.category-thumb {
  width: 350px;
  height: 204px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 7px;
}
.thumb-image {
  width: 178px;
  position: absolute;
  top: 0;
  transform: translateY(-30%);
}
.category-thumb a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 13px;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 30px;
  transition: 0.5s;
}
.category-thumb a:hover {
  color: #d87d4a;
}
.category-thumb p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  margin: 116px 0 15px 0;
  text-transform: uppercase;
}
