.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-links a {
  transition: 0.5s;
}
.nav-links a:hover {
  color: #d87d4a;
}
.brand,
.cart-icon {
  flex: 1;
}
.cart-icon {
  text-align: right;
}
.brand,
.cart-icon img {
  cursor: pointer;
}
.brand {
  display: flex;
  align-items: center;
  gap: 42px;
}
.hamburger {
  flex-direction: column;
  gap: 3px;
  display: none;
  cursor: pointer;
}
.li {
  height: 3px;
  width: 16px;
  background-color: white;
}
header {
  position: relative;
}
.dropdown {
  background-color: white;
  position: absolute;
  padding: 70px 40px;
  left: -40px;
  right: -40px;
  transition: 0.5s;
  z-index: 12;
  display: none;
}
.dropdown .category-thumbs {
  margin: 0;
}

@media (max-width: 1024px) {
  .dropdown {
    top: -800px;
    display: block;
  }
  .background.show {
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    top: 95px;
    z-index: 6;
  }
  .dropdown.active {
    top: 95px;
  }
  .navbar .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
